<!DOCTYPE html>
<html lang="id">

    {{ partial "head.html" . }}

    <body class="homepage">
        <header id="header">

            <!-- Top Bar sosial media-->
            {{ partial "top_bar.html" . }}
            <!-- End of Top Bar sosial media-->

            <!-- Navbar menu-->
            {{ partial "navbar_menu.html" . }}
            <!-- End Of Navbar Menu-->

        </header>

         <!-- Caraousel Slider -->
         {{ partial "caraousel.html" . }}
         <!-- End of Caraousel Slider -->

         <!-- About ILQ -->
         {{ partial "tentang_beranda.html" . }}
         <!-- End of About ILQ -->

        
         <!-- Kegiatan ilq -->
         {{ partial "kegiatan.html" . }}
         <!-- End of Kegiatan ilq-->


         <!-- Galeri -->
         {{ partial "galeri.html" . }}
         <!-- End of Galeri -->

         <!-- Partner ilq -->
         {{ partial "partner.html" . }}
         <!-- End of Partner ILQ -->

         <!-- Info ILQ -->
         {{ partial "info.html" . }}
         <!-- End of Info ILQ -->

         <!-- Footer -->
         {{ partial "footer.html" . }}
         <!-- End Of Footer -->



         <!-- Script JS -->
         {{ partial "script.html" . }}
         <!-- End of Script JS-->

    </body>

</html>