<!DOCTYPE html>
<html lang="id">

    {{ partial "head.html" . }}

    <body class="homepage">
        <header id="header">

            <!-- Top Bar sosial media-->
            {{ partial "top_bar.html" . }}
            <!-- End of Top Bar sosial media-->

            <!-- Navbar menu-->
            {{ partial "navbar_menu.html" . }}
            <!-- End Of Navbar Menu-->

        </header>

         <!-- Program ILQ -->
         {{ partial "pengurusanjenazah.html" . }}
         <!-- End of Program ILQ -->


         <!-- Footer -->
         {{ partial "footer.html" . }}
         <!-- End Of Footer -->



         <!-- Script JS -->
         {{ partial "script.html" . }}
         <!-- End of Script JS-->

    </body>

</html>