<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image:url(images/slider/bg1.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</h1>
                                <h2 class="animation animated-item-2">Ahlan Wa Sahlan.<br>
                                    Kepoin Yayasan Indonesia Learning Quran Yuk</h2>
                                <a class="btn-slide animation animated-item-3" href="/tentang">Selengkapnya</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="images/logo/logo_500.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(images/slider/bg2.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Bisa Baca Quran dalam Waktu 3 Jam</h1>
                                <h2 class="animation animated-item-2">Dengan Metode Indonesia Learning Quran</h2>
                                <a class="btn-slide animation animated-item-3" href="/belajarquran">Selengkapnya</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="images/logo/logo_500.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(images/slider/bg3.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Tahsin Tilawah Al Quran</h1>
                                <h2 class="animation animated-item-2">Dengan Metode ILQ Menggunakan Mushaf Utsmani</h2>
                                <a class="btn-slide animation animated-item-3" href="/tahsinquran">Selengkapnya</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="images/logo/logo_500.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section>