<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="widget">
                    <h3>ILQ</h3>
                    <p style="font-style:italic">"Rumah Baca Al Quran Indonesia, Allahu Akbar "</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2020 - <a target="_blank" href="https://ilearningquran.id/"
                    title="Yayasan Indonesia Learning Quran">Yayasan Indonesia Learning Quran</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
              <!--  <ul class="pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="prayers.html">Prayers</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact-us.html">Contact</a></li>
                </ul> -->
            </div>
        </div>
    </div>
</footer>