<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Gallery Indonesia Learning Quran</h2>
            <p class="lead">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br> Foto dokumentasi kegiatan Indonesia Learning Quran</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/images/item/cfd.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Ngaji On The Street</a> </h3>
                            <p>Kegiatan bengkel Quran di Car Free Day Bandung.</p>
                            <a class="preview" href="/images/item/cfd.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/images/item/belajar0.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Belajar Quran dari 0</a></h3>
                            <p>Salah satu mentor belajar Quran dari 0, di Masjid An Nur PT. Inti, Bandung.</p>
                            <a class="preview" href="/images/item/belajar0.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/images/item/lembaga.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Tahsin di Lembaga Perusahaan </a></h3>
                            <p>Kegiatan Tahsin Tilawah Al Quran di salah satu lembaga perusahaan.</p>
                            <a class="preview" href="/images/item/lembaga.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/images/item/tahsin.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Tahsin Lanjutan </a></h3>
                            <p>Kegiatan Tahsin Lanjutan di ILQ.</p>
                            <a class="preview" href="/images/item/tahsin.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/images/item/archery.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">ILQ Archery</a></h3>
                            <p>Kegiatan Archery di Indonesia Learning Quran.</p>
                            <a class="preview" href="/images/item/archery.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/images/item/tahsinjuga.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Tahsin Lanjutan </a></h3>
                            <p>Kegiatan Tahsin Tilawah Al Quran ILQ di Kemko Rabbani Buahbatu, Bandung.</p>
                            <a class="preview" href="/images/item/tahsinjuga.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/images/item/tahsinkaryawan.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Tahsin Karyawan </a></h3>
                            <p>Kegiatan Tahsin Tilawah Al Quran untuk karyawan.</p>
                            <a class="preview" href="/images/item/tahsinkaryawan.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/images/item/waqafquran.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Pemberian Waqaf Quran Utsmani </a></h3>
                            <p>Pemberian Waqaf Quran Utsmani di acara Tahsin Akbar ILQ.</p>
                            <a class="preview" href="/images/item/waqafquran.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>