<section id="conatcat-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/service/phone.png" width="60" height="60"
                            alt="Phone">
                    </div>
                    <div class="media-body">
                        <h2>Info Lebih Lengkap Tentang Yayasan Indonesia Learning Quran : </h2>
                        <p>بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br>Untuk pertanyaan lebih lanjut mengenai Yayasan Indonesia Learning Quran, bisa 
						hubungi nomor Whatsapp ini +62 895 2923 4311</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>