<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>KEGIATAN INDONESIA LEARNING QURAN</h2>
            <p class="lead">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br> Yu Gabung bersama Kami :) <br>Memberikan yang terbaik untuk umat, dengan
                hanya mengharap Ridho Allah Semata</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/images/services/dari_nol.png" style="width:80px;">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Belajar Quran dari 0</h3>  
                        
                        <a class="btn btn-xs btn-info" href="/belajarquran" role="button">Info Lebih Lanjut</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/images/services/tahsin.png" style="width:80px;">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Tahsin Quran</h3>
                        <a class="btn btn-xs btn-info" href="/tahsinquran" role="button">Info Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/images/services/private.png" style="width:80px;">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Private Quran</h3>
                        <a class="btn btn-xs btn-info" href="/privatequran" role="button">Info Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/images/services/online.png" style="width:80px;">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Kelas Online</h3>
                        <a class="btn btn-xs btn-info" href="/kelasonline" role="button">Info Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/images/services/school.png" style="width:80px;">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Goes to School</h3>
                        <a class="btn btn-xs btn-info" href="/gotoschool" role="button" >Info Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/images/services/tft.png" style="width:80px;">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Training For Trainer</h3>
                        <a class="btn btn-xs btn-info" href="/tft" role="button">Info Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left"> 
                        <img class="img-responsive" src="/images/services/speaking.png" style="width:80px;">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Public Speaking</h3>
                        <a class="btn btn-xs btn-info" href="/speaking" role="button">Info Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/images/services/ngaos.png" style="width:80px;">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Ngaji On the Street</h3>
                        <a class="btn btn-xs btn-info" href="/ngaos" role="button">Info Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/images/services/pjenazah.png" style="width:80px;">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Pengurusan Jenazah</h3>
                        <a class="btn btn-xs btn-info" href="/pengurusanjenazah" role="button">Info Lebih Lanjut</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>