<section id="contact-info">
<div class="center">
<h2>Kontak Kami</h2>
<p class="lead">Info Sekertariat dan Lokasi Kajian Kami</p>
</div>
<div class="gmap-area">
<div class="container">
<div class="row">
<div class="col-sm-5 text-center">
<div class="gmap">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1980.302152510669!2d107.60722825552384!3d-6.937804378271225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e89aa2c89b79%3A0xf65790017b3c7497!2sMASJID%20AN%20NUR!5e0!3m2!1sen!2sid!4v1578101580801!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
</div>
<div class="col-sm-7 map-content">
<ul class="row">
<li class="col-sm-6">
<address>
<h5>Kantor Sekertariat</h5>
<p>Jl. Moh Toha, Mesjid An Nur Pt. Inti <br>
Bandung</p>
<p>Telp. +62 895 2923 4311</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</section>
<section id="contact-page">
<div class="container">
<div class="center">
<h2>Tinggalkan Pesan</h2>
<p class="lead">Kritik dan Saran yang Membangun Insyaa Allah akan Kami Terima dengan Senang Hati</p>
</div>
<div class="row contact-wrap">
<div class="status alert alert-success" style="display:none"></div>
<form class="contact-form" name="contact-form" method="post" id="whatsapp">
<div class="col-sm-5 col-sm-offset-1">
<input class="tujuan" type="hidden" id="noAdmin">
<div class="form-group">
<label>Name *</label>
<input type="text" name="name" class="form-control nama" required="required" placeholder="Masukan Nama Anda">
</div>
<div class="form-group">
<label>Nomor Whatsapp</label>
<input type="text" name="nowa" class="form-control nowhatsapp" required="required" placeholder="Masukan Nomor Whatsapp">
</div>
<div class="form-group">
<label>Kesan dan Pesan Mengikuti Kegiatan ILQ *</label>
<textarea name="message" required="required" class="form-control pesan" rows="8" placeholder="Masukan Pesan dan Kesan Anda"></textarea>
</div>
<div class="form-group">
<button class="btn btn-primary btn-lg submit" required="required">Submit Message</button>
</div>
</div>
</form>
</div>
</div>
</section>