<nav class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="/images/logo/logo.png" alt="logo" ></a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="{{ .Site.BaseURL }}">Beranda</a></li>
                <li><a href="/tentang">Tentang Kami</a></li>
                <li><a href="/program">Program ILQ</a></li>
                <li><a href="/galery">Galeri Kegiatan</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drop Down<i
                            class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">One</a></li>
                        <li><a href="#">One</a></li>
                        <li><a href="#">One</a></li>
                        <li><a href="#">One</a></li>
                    </ul>
                </li> -->
                <li><a href="/berita">Berita</a></li>
                <li><a href="/kontak">Kontak</a></li>
            </ul>
        </div>
    </div>
</nav>