<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Media Partner Yayasan Indonesia Learning Quran</h2>
            <p class="lead">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br> </p>
        </div>
        <div class="partners">
            <ul>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                            data-wow-delay="300ms" src="images/partners/rabbani.png"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                            data-wow-delay="600ms" src="images/partners/dd.png" style="margin-left:20px;"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                            data-wow-delay="900ms" src="images/partners/infokajian2.png" style=" margin-left:50px"></a></li>
							<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                            data-wow-delay="900ms" src="images/partners/knrp.png" style="width:216px; margin-left:70px"></a></li>
            
            </ul>
        </div>
    </div>
</section>