	<script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/wow.min.js"></script>
	<script>
		//no wa admin
		$("#noAdmin").val("0895330550716");
		$('.whatsapp-btn').click(function () {
			$('#whatsapp').toggleClass('toggle');
		});
		// Onclick Whatsapp Sent!
		$('#whatsapp .submit').click(WhatsApp);
		$("#whatsapp input, #whatsapp textarea").keypress(function () {
			if (event.which == 13) WhatsApp();
		});
		var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
		function WhatsApp() {
			var ph = '';
			if ($('#whatsapp .nama').val() == '') { // Cek Nama
				ph = $('#whatsapp .nama').attr('placeholder');
				alert('Silahkan tulis ' + ph);
				$('#whatsapp .nama').focus();
                return false;
            } else if ($('#whatsapp .nowhatsapp').val() == '') { // Cek Whatsapp
				ph = $('#whatsapp .nowhatsapp').attr('placeholder');
				alert('Silahkan tulis ' + ph);
				$('#whatsapp .nowhatsapp').focus();
                return false;
            } else if ($('#whatsapp .pesan').val() == '') { // Cek alasan
				ph = $('#whatsapp .pesan').attr('placeholder');
				alert('Silahkan tulis ' + ph);
				$('#whatsapp .pesan').focus();
				return false;
			} else {
				// Check Device (Mobile/Desktop)
				var url_wa = 'https://web.whatsapp.com/send';
				if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
					url_wa = 'whatsapp://send/';
				}
				// Get Value
				var tujuan = $('#whatsapp .tujuan').val(),
					via_url = location.href,
                    nama = $('#whatsapp .nama').val(),
					nowhatsapp = $('#whatsapp .nowhatsapp').val(),
                    alasan = $('#whatsapp .pesan').val(),
				$(this).attr('href', url_wa + '?phone=62 ' + tujuan + '&text=%2ABISMILL%C3%81HIRRAHM%C3%82NIRRAH%C3%8EM..%2A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%0A%0ADibawah%20ini%20kami%20sertakan%20%2AForm%20Komitmen%2A%20bagi%20%20yang%20telah%20memutuskan%20untuk%20mengikuti%20proses%20pembelajaran.%0A%0AInsyaa%20Allah%20untuk%20Kelas%20Pelatihan%20Hari%20pertama%20akan%20dimulai%20pada%20bulan%20Agustus%0A%0A%0A%E2%9C%82%E2%9E%96%E2%9C%82%E2%9E%96%E2%9C%82%E2%9E%96%E2%9C%82%E2%9E%96%E2%9C%82%E2%9E%96%0A%0A%0A%0A%2AFORM%20PERNYATAAN%20KOMITMEN%20PELATIHAN%20ILQ-ONLINE%20ANGKATAN%2005%20VIA%20WHATSAPP%2A%0A%0A%0ABISMILL%C3%82HIRRAHM%C3%82NIRRAH%C3%8EM%0A%0AMelalui%20surat%20pernyataan%20ini%2C%20saya%20dengan%20%3A%0A%0A%2ANama Lengkap :%2A ' + nama + ' %0A%0A%2AUsia :%2A ' + usia + ' %0A%0A%2AProfesi/Pekerjaan :%2A ' + profesi + ' %0A%0A%2ANo. Whatsapp :%2A ' + nowhatsapp + '%0A%0A%2AAlamat :%2A ' + alamat + ' %0A%0A%2AAlasan Mengikuti ILQ Online :%2A ' + alasan + ' %0A%0ADENGAN%20SEPENUH%20HATI%20AKAN%20MENGIKUTI%20KELAS%20PELATIHAN%20ILQ-ONLINE%20%20ANGKATAN%2005%20INI%20%2ASAMPAI%20AKHIR%20KEGIATAN%20BELAJAR%20MENGAJAR%2A.%0A%0AAPABILA%20SAYA%20MELANGGAR%20KOMITMEN%20DIATAS%20ATAU%20MENGUNDURKAN%20DIRI%20DENGAN%20ALASAN%20APAPUN%20ATAU%20KARENA%20KELALAIAN%20SAYA%20YANG%20MENYEBABKAN%20SAYA%20TERKENA%20SANKSI%20DO%2C%20%2AINSYAALLAAH%20SAYA%20SIAP%20MENGGANTINYA%20DENGAN%20DENDA%2FKIFARAT%20BERUPA%20SEDEKAH%20BERAPAPUN%20KE%20MASJID%20TERDEKAT%20ATAU%20KE%20REKENING%20ILQ%20UNTUK%20KEPENTINGAN%20DAKWAH%20ISLAM%2A.%20%0A%0ADEMIKIAN%20SURAT%20KOMITMEN%20INI%20DIBUAT%20DENGAN%20TANPA%20PAKSAAN%20DAN%20MUDAH-MUDAHAN%20DAPAT%20DIJADIKAN%20SEBAGAI%20JALAN%20KEMUDAHAN%20DALAM%20MENCARI%20%20ILMU%20YANG%20BERMANFAAT.%0A%0A%0ATempat%2C%20hari%2C%20tanggal%20dan%20tahun ' );
				var w = 960,
					h = 540,
					left = Number((screen.width / 2) - (w / 2)),
					tops = Number((screen.height / 2) - (h / 2)),
					popupWindow = window.open(this.href, '', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=1, copyhistory=no, width=' + w + ', height=' + h + ', top=' + tops + ', left=' + left);
				popupWindow.focus();
				return false;
			}
		}
    </script>
    