<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Tentang</h2>
            <h2>Yayasan Indonesia Learning Quran</h2>
            <p class="lead"><img src="/images/logo/logo100.png" alt="ILQ" style="width: 70px;"></p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <iframe width="350" height="275" src="https://www.youtube.com/embed/J9nXLcQ5S08?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
                    </div>
                </div>

                <div class="col-md-8 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <p class="tentang">Sebuah fakta mengejutkan menyatakan bahwa 53.57% kaum muslim di Indonesia tidak bisa membaca Al-Quran (data sumber BPS tahun 2018).<br><br>
                        Berangkat dari keprihatinan dan harapan akan kebaikan negeri ini, ILearning Quran Foundation menggagas sebuah mimpi besar melakukan sebuah gerakan massal untuk membantu masyarakat muslim Indonesia agar bisa membaca Al-Quran.  <br><br>
                        Gerakan ini hadir dengan memberikan pelatihan tidak berbayar kepada masyarakat dengan metode pembelajaran yang dirancang khusus untuk memudahkan peserta dalam belajar membaca Al-Quran. Dengan tujuan semakin banyak orang dari berbagai kalangan yang mampu membaca Al-Quran dan memudahkan orang-orang yang belum bisa membaca untuk selalu dekat dengan Quran sebagai bentuk dukungan terhadap gerakan menuju Indonesia Bebas Buta Huruf Al-Quran.</p>
                        <a class="btn btn-xs btn-info" href="/tentang" role="button">Selengkapnya</a>
                </div>


            </div>
        </div>
    </div>
</section>