<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>{{ .Title }}</h2>
            <h2>{{ .Params.Title2 }}</h2>
            <p class="lead"><img src="/images/logo/logo100.png" alt="ILQ" style="width: 70px;"></p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <iframe width="350" height="275" src="https://www.youtube.com/embed/J9nXLcQ5S08?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
                    </div>
                </div>

                <div class="col-md-8 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        {{ .Content }}
                </div>


            </div>
        </div>
    </div>
</section>